body{
    background-color: rgb(29, 29, 29);
}

.titulo{
    color: white;
    font-size: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.cartas{
    gap: 20px;
    width: 10%;
    height: 20%;
    margin: 30px;
    border-radius: 10%;
}