body {
    background-color: rgb(29, 29, 29);
}

.titulo {
    color: white;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.blanco {
    color : white;
    font-size: 200px;
}
.mesa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 100px;
}

.cartas {
   margin: 10px;
   width: 1px;
    height: 1px;
}

.forma{
    width: 1px;
    height: 1px;
}

